/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1{
  color: #fff;
}

main {
  flex: 1;
  padding: 40px;
}

.contact-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact-options a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.contact-options a:hover {
  color: #ff8c00;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}